{% extends "_base.html" %}

{% block content %}

<div class="text-center">
  <h1>Welcome to Sample Flask Demo! dGHCEy0J</h1>
</div>

<br>

<form action="/" method="POST">
  <div class="form-group">
    <input name="text" class="form-control input-lg" type="text" placeholder="Enter a message" required>
  </div>
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
</form>

<br>
<hr>

<div>
  {% for post in posts %}
    <h4 class="well"><strong>{{post.text}}</strong> - <em>{{post.date_posted.strftime('%Y-%m-%d')}}</em></h4>
  {% endfor %}
</div>

{% endblock %}
